<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://i.pinimg.com/564x/78/73/57/787357291f5a41fa0ed996830df33f29.jpg"
    alt="prato com mochi de cores variadas" srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Mochi: Delicacy in Every Bite</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      Mochi, a traditional Japanese delicacy, has a rich history and comes in various flavors and forms.
      Made from glutinous rice pounded into a chewy, soft texture, mochi is often filled with sweet red bean paste or other delicious fillings.
    </p>
  </div>

</div>
