@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container__menu-title {
  color: #333D29;
}

.container__menu-title > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: "Space Mono", monospace;
  font-weight:lighter;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
  border-color: #A4AC86;
}
