
  <div class="container__small-card">

    <div class="container__small-card-content">

    <div class="small-card__photo">
      <img src="https://radarbanyumas.disway.id/upload/931607f047703f71a435029d8531eba3.jpeg"
      alt="prato com mochi de cores variadas" srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#">Dorayaki: Doraemon's Favorite Treat</a></h1><hr>
    </div>
    </div>

    <div class="container__small-card__separator">
      <hr>
    </div>

</div>













